#slide {
    overflow: hidden;
    background:#fff;
    position: relative;
    margin:0 auto;
    padding:33px 24px 0;
    z-index: 2;
} 
.banner {
    color: #4A4A4A;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    font-weight: bold;
    left: 4px;
    background: #fff;
    letter-spacing: -1px;
    line-height: 38px;
    overflow: hidden;
    position: absolute;
    top: 439px;
    width: 600px;
    z-index: 15;
}


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;height: 512px;}
.flexslider .slides > li {display: none;height: 512px;-webkit-backface-visibility: hidden;position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; position: relative; }
.flex-viewport {}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: 0px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {right: 5px;}
.flexslider:hover .flex-prev {left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {}
.flex-direction-nav .disabled {cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 0px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background:#000;cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{ background-position:0 0;}

.flex-control-thumbs {margin: 5px 0 0; height: 63px;text-align: right; position: absolute;z-index: 99;bottom: 22px;right: 2px; overflow: hidden;}
.flex-control-thumbs li {width: 113px;display: inline-block; margin: 0 0 0 7px;}
.flex-control-thumbs img { display: block; cursor: pointer;
background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 0 7px 1 0;
	border:1px solid #e8e8e8;
    padding: 4px;
	transition: all 0.4s ease 0s;
}
.flex-control-thumbs .flex-active, .flex-control-thumbs img:hover {background:#47c6f1;
				border-color:#47c6f1;}


@media screen and (max-width: 860px) {
  
}