

/***** Contact form *****/
#form1 {
	position:relative;
	vertical-align:top;
	z-index:1;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:4px;
}

#form1 fieldset {
border:none;
padding:0;
}
.p27 {
	margin-right:32px;
}

#form1 label {display:inline-block; min-height:43px; position:relative;}

#form1 label.message {
    height: 287px;
    width: 540px;
}

#form1 input {
	outline: none;
	border:1px solid #dcdddf;
	color: #878b91;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
	line-height:16px;
	height:16px;
    margin: 0;
	background:none;
   padding: 8px 15px 7px;
    width: 268px;
	display:inline-block;
}
#form1 .area .error { float:none;}
#form1 textarea {	
	height:256px;
	margin:0;
	width:508px;	
	resize:none;
	outline: none;
	border:1px solid #dcdddf;
	background:none;
	line-height:16px;
	padding: 8px 15px 7px;
	overflow:auto;
	color:#878b91;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	display:block;
}
#form1 a {cursor:pointer;}
#form1 .success {
    background:#fff;
    box-shadow: inset 0 0 0 1px #333333;
    display: none;
    height: 117px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    z-index: 99;
}
#form1 .success .success_txt {
    color: #000;
    position: relative;
    text-align: center;
    top: 31%;
}
#form1 .error,
#form1 .empty {
	color:#f00;
	font-size:10px;
	line-height:1.25em;
	display:none;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	position:absolute;
	top:5px;
  right: 5px;
}


.link-form {
	float: right;
}
