/*--------- slider ---------*/

#slide {
    height: 512px;
    overflow: hidden;
	background:#fff;
    position: relative;
    margin:0 auto;
	padding-top:33px;
    z-index: 2;
}

.slider {
    height: 512px;
    margin: 0 auto;
    position: relative;
    width: 938px;
    z-index: 2;
}

.items {
	display:none;
}

.pag {
    bottom: 23px;
    left: 584px;
    position: absolute;
    z-index: 60;
}
.pag ul {overflow:hidden;}
	.pagination li {
		float:left;
		padding:0 3px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
		overflow:hidden;
		position: relative;
		display:inline-block;
	}
	
	.pagination li img {
		width:103px;
		height:52px;
	}

.pag li a {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 0 7px 0 0;
	border:1px solid #e8e8e8;
    padding: 4px;
	transition: all 0.4s ease 0s;
	width:103px;
	height:52px;
    
}
			.pagination li.current a,
			.pagination a:hover {
				background:#47c6f1;
				border-color:#47c6f1;
			}

.prev {
	display:block;
	width:25px;
	height:22px;
	position:absolute;
	z-index:15;
	bottom:2px;
	right:9px;
}
	
.next {
	display:block;
	width:25px;
	height:22px;
	position:absolute;
	z-index:15;
	bottom:2px;
	right:9px;
}

	.prev:hover,
	.next:hover {
		background-position:0 -70px;
	}
	
.play {
	display:block;
	width:45px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:823px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.play span {
		display:none;
	}
	.play em {
		font-style:normal;
		display:block;
	}
.paused span {
	display:block;
}
.paused em {
	display:none;
}
.banner {
    color: #4A4A4A;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    font-weight: bold;
    left: 4px;
    letter-spacing: -1px;
    line-height: 38px;
    overflow: hidden;
    position: absolute;
    top: 439px;
    width: 600px;
    z-index: 15;
}



.progbar {
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
}
.numStatus {
	display:block;
	width:45px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:551px;
	left:583px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
/*-------- end slider -----------*/

.col-1 {
	float:left;
	width:400px;
	padding-right:50px
}
* + html .min {
	min-height:45px;
}
.col-2 {
	float:left;
	width:400px;
}
/*-------- end preset -------*/