@import"reset.css";@import"skeleton.css";@import"forms.css";@import"flexslider.css";
body{
  background: #f0f0f0;
  font:14px/18px Arial, Helvetica, sans-serif;
  color:#878b91;
  position:relative;
  min-width:990px;
  -webkit-text-size-adjust: none;
}
html,body{height:100%;}
p{padding-bottom:18px;}
em.special{font-size:18px;font-style:normal}
a{color:#2ba2e7;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#4a4a4a;font-family: Arial, sans-serif; margin-bottom:25px; text-transform:uppercase; letter-spacing:-1px;}
h1{font-size:28px;color:#2b9fea}
h2{font-size:24px;margin-bottom:20px}
h3{font-size:22px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}
ol{margin-left:0;margin-bottom:18px}
ol li{list-style-type:decimal;margin-left:17px;padding-bottom:13px;line-height:17px;}
small{font-size:10px;}
blockquote{position:relative;font: italic 18px/28px Georgia, Times, serif;display:block;margin-bottom:10px;padding-left:10px;}
.quote{position:absolute;top:10px;left:-10px;z-index:1;color:#C8E4F2;font-size:64px;}
.quote-text{position:relative;z-index:2;color:#878b91;}
cite{font-style:normal;float:right;padding-right:20px;position:relative;}
cite:before{content:'-';position:absolute;top:0;left:-10px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}
.blue{color:#2ba2e7}
.see-youtube{width:31px;height:49px;background:url(../images/see-us-youtube.png) no-repeat;text-indent:-9999px;position:absolute;top:0;right:-39px;}
.main {
  width:986px;
  padding:0;
  margin:0 auto;
}
.last1 {
  margin-bottom:0 !important;
}
.last2 {
  padding-bottom:0 !important;
}
.wrapper {width:100%; overflow:hidden;}
.subnav{margin-bottom:20px;margin-top:-7px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}
.reg {text-transform:uppercase;}
.title {margin-bottom:18px;}
.it {font-style:italic;}
.letter {letter-spacing:-1px;}
/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}
.spacing {margin-right:35px;}
.mr20{margin-right:20px;}
.ml20{margin-left:20px;}
.overflow{overflow:hidden;}
.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}
.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}
.img-indent2 {float:left; margin:0 13px 0px 0;}
.img-indent-r {float:right; margin:0 0px 0px 40px;}
.prev-indent-bot {margin-bottom:10px;}
.buttons a:hover {cursor:pointer;}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.block{
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
}
.col{
  float:right;
  width:400px;
  margin-left:40px;
}
.push-left{
  margin-left:40px;
}
.button-group{
  margin-bottom:20px;
}
.button-group small{
  display: block;
  font-size:10px;
  clear:both;
}
.button-group a{
  width:347px;
  height:284px;
  text-indent:-9999px;
  display:block;
  float:left;
  background:url(../images/btn-velaqua.png) no-repeat
}
.button-group a:hover{
  background-position:0 100%;
}
.button-group a#btn-velumina{
  background-image:url(../images/btn-velumina.png);
  margin-left:5px;
}
.logo {
  display:block;
  float: left;
  width:187px;
  height:42px;
  text-indent:-5000px;
  background:url(../images/logo.png) 0 0 no-repeat;
}
.fb-share-button {
  margin: 10px 0 0 40px;
  z-index: 99;
}
.well{
  background:#dbeef8;
  border-radius:3px;
  padding:10px;
  color:#516977;
  margin:10px 0 20px;
  border:solid 1px #2ba2e7;
  width:590px;
}
.well.block{
  margin-left:auto;
  margin-right:auto;
}
/*********************************header*************************************/
header {
  width:100%;
  position:relative;
  z-index: 2;
}
.p9 {
  padding-bottom:26px;
}
.last3 {
  background:none !important;
}
.head-box1 {
  margin-bottom:18px;
  position:relative;
  min-height: 85px;
}
.head-list {
  float: right;
  margin-right: 23px;
  padding-top: 45px;
}
.head-list a {
  color:#848484;
  transition: all 0.4s ease 0s;
  font-size:10px;
  text-transform:uppercase;
}
.head-list a:hover {
  color:#259dd4;
  text-decoration:none;
}
.head-list li {
  background: url("../images/divider1.gif") no-repeat scroll 0 2px transparent;
  display: block;
  float: left;
  margin-left: 8px;
  padding-left: 11px;
  color: #FFF;
}
header h1 {
  padding:30px 0 0 0;
  margin:0;
  font-size:0;
  float:left;
  line-height:0;
  width: 50%;
}
nav {
  background:url(../images/head-bg1.gif) repeat-x 0 0 #289ee6;
  float:left;
  width: 100%;
}
.head-box2 {
  height: auto;
  position: relative;
  width: 100%;
}
/*** MENU ***/
.sf-menu, .sf-menu * {
  margin:     0;
  padding:    0;
  list-style:   none;
}
.sf-menu {
  line-height:  1.0;
  float: left;
  width: 92%;
}
.sf-menu li {
  float:      left;
  background:url(../images/divider2.gif) no-repeat right 0;
  position:   relative;
  text-align: center;
  width: 12.5%
}
.sf-menu li.special{
  background:url(../images/head-bg2.gif) repeat-x;
}
.sf-menu li.special:after{
  content:"";
  width:2px;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  background:url(../images/divider5.gif) repeat-x 0 0;
}
.sf-menu li.last{
  background:none;
}
.sf-menu a {
  color: #FFFFFF;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 20px;
  padding: 14px 0;
  position: relative;
  text-transform: uppercase;
}
.sf-menu a:hover,
.sf-menu li.current>a,
.sf-menu li.sfHover > a {
  text-decoration:none;
  background:url(../images/menu-hov.gif) repeat-x 0 0 #696969;
}
.sf-menu ul a:hover,
.sf-menu ul li.sfHover > a {
  color:#fff;
  background:#259dd4;
}
.sf-menu ul ul a:hover,
.sf-menu ul ul li.sfHover > a {
  color:#818181;
  background:#f9f9f9;
}
.sf-menu ul {
  position:   absolute;
  top:      -999em;
  background:#f9f9f9;
  width:      122px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul ul {
  background:#3aade2;
}
.sf-menu ul li {
  width:      100%;
  background:none;
}
.sf-menu ul a {
  font-family:Arial, Helvetica, sans-serif;
  color:#818181;
  font-size:13px;
  line-height:15px;
  font-weight:normal;
  padding:8px 0 8px 10px;
  text-transform:none;
  letter-spacing:0;
}
.sf-menu ul ul a {color:#fff;padding:8px 0 8px 16px;}
.sf-menu ul li span {
  display:block;
  position:absolute;
  left:20px;
  background:url(../images/divider3.png) repeat-x 0 0;
  width:63%;
  bottom:-1px;
  height:1px;
}
.sf-menu ul ul li span {
  background:url(../images/divider4.png) repeat-x 0 0;
}
.sf-menu li:hover {
  visibility:   inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left:     0;
  top:      53px; /* match top ul list item height */
  z-index:    99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top:      -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left:     112px; /* match ul width */
  top:      1px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top:      -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left:     10em; /* match ul width */
  top:      0;
}
#search1 input {
  border: none;
  color: #000;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  margin: 0;
  background:#fff;
  outline: medium none;
  padding: 4px 24px 4px 13px;
  width: 215px;
}
#search1 {
  float: right;
  margin: 15px 24px 0 0;
  position: relative;
}
#search1 a {
  background: url("../images/marker1.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 11px;
  position: absolute;
  right: 3px;
  top: -3px;
  width: 11px;
}
#search1 a:hover {
  background-position:0 -31px;
}
#language-picker{
  position:absolute;
  top:80px;
  left:12px;
}
#user-info{
  float:right;
  color:#333;
  background:#fff;
  padding:5px 15px 10px;
  line-height:22px;
  border: solid 1px #acd8ea;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  text-align:right;
}
#user-info div{
}
#user-info div.name{
  font-weight:bold;
}

/********** Velaqua Product Page ****************/
.velaqua-chart{
  position : relative;
  min-height: 605px;
  padding: 50px 0 50px;
  line-height:18px;
}
.velumina-chart{
  position : relative;
  min-height: 900px;
  line-height: 18px;
}
.chart-block h3{
  font-size: 14px;
  margin-bottom: 5px;
}
.chart-block p{
  padding: 0;
  margin:0 0 10px;
}
.chart-block{
  position:absolute;
  width :300px;
  border: solid 1px black;
  padding: 10px 10px 0;
  background:#dbeef8;
  border-radius:3px;
  color:#516977;
  border:solid 1px #2ba2e7;
}

.chart-block.one{
  top: 0;
  left:0;
}
.chart-block.two{
  top:0;
  right:0;
}
.chart-block.three{
  top:145px;
  left:0;
}
.velumina-chart .chart-block.three{
  top:310px;
  left:0;
}
.chart-block.four{
  top:145px;
  right:0;
}
.velumina-chart .chart-block.four{
  top:275px;
  right:0;
}
.chart-block.five{
  top:315px;
  left:0;
}
.velumina-chart .chart-block.five{
  top:520px;
  left:0;
}
.chart-block.six{
  top:315px;
  right:0;
}
.velumina-chart .chart-block.six{
  top:514px;
  right:0;
}
.chart-block.seven{
  top:500px;
  left:310px;
}
.velumina-chart .chart-block.seven{
  top:750px;
  left:310px;
}

/********************** Content ************************/
#content {
  width:986px;
  background:#fff;
  padding:26px 0 61px;
  position:relative;
  z-index:1;
  margin:0 auto;
}
.p10 {
  padding:36px 0 61px !important;
}
aside {
  padding:31px 0 61px;
  margin:0;
  position:relative;
  width:100%;
}
.img-bot {
  border:1px solid #e8e8e8;
  background:#fff;
  padding:6px;
  display:inline-block;
}
/***** Page 1 *****/
.p6 {
  padding-top:10px;
  color:#727272;
}
.link1 {
  color: #2BA2E7;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.4s ease 0s;
  letter-spacing: -1px;
  line-height: 20px;
  text-transform: uppercase;
}
.link1:hover {
  color: #4d4d4d;
  text-decoration:none;
  text-align: center;
}
.page1-img1 {
  margin-bottom:15px;
}
.border1 {
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 42px;
  padding-bottom: 26px;
}
.text1 {
  font-size:14px;
  text-transform:uppercase;
  color:#4a4a4a;
  display:block;
  margin-bottom:17px;
}
.button1 {
  background: url("../images/button1.gif") repeat-x scroll 0 0 #218DE3;
  color: #FFFFFF;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 20px;
  padding: 8px 18px;
  text-transform: uppercase;
}
.button1.current,
.button1:hover {
  text-decoration:none;
  background:url(../images/menu-hov.gif) repeat-x 0 0 #696969;
  color: #fff;
}
.p7 {
  padding-bottom:37px;
}
.page1-img2 {
  float: left;
  margin-right: 12px;
  margin-top: 4px;
}
.time1 {
  font-size:13px;
  text-transform:uppercase;
  color:#2ba2e7;
  margin-bottom:4px;
  display:block;
  line-height:20px;
}
.page1-box2 {
  padding-top:7px;
  overflow:hidden;
}
.border2 {
  border-bottom:1px solid #e2e3e4;
  margin-bottom:12px;
}
.page1-box2 p {padding-bottom:17px;}
.border3:before {
  position:absolute;
  display:block;
  height:100%;
  width:1px;
  background:#e2e3e4;
  top:0;
  left:-11px;
  content:'  ';
}
.border3 {
  position:relative;
}
.p8 {
  margin-top:17px;
}
.text2 {
  border-bottom: 1px solid #C8C8C8;
  color: #4A4A4A;
  display: block;
  font-size: 18px;
  font-family: Arial, sans-serif;
  letter-spacing:-1px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 13px;
  padding-bottom: 9px;
}
.list1 a {
  color:#929292;
  transition: all 0.4s ease 0s;
  font-size:12px;
}
.list1 a:hover {
  color:#2ba2e7;
  text-decoration:none;
}
.list1 li {
  display:block;
  line-height:16px;
  padding-bottom:8px;
}
.soc-links a {
  display:block;
  width:24px;
  height:24px;
}
.soc-links {
  padding-top:4px;
  padding-left:2px;
}
.soc-links a:hover {background-position:0 -42px;
}
.soc-link1 {background:url(../images/soc-link1.png) no-repeat 0 0 ;
}
.soc-link2 {background:url(../images/soc-link2.png) no-repeat 0 0 ;
}
.soc-link3 {background:url(../images/soc-link3.png) no-repeat 0 0 ;
}
.soc-link4 {background:url(../images/soc-link4.png) no-repeat 0 0 ;
}
.soc-links li {
  display:block;
  float:left;
  margin-right:7px;
}
/***** Page 2 *****/
.page1-img1 img{
  width:286px;
  height:152px;
}
.page2-img1 {
  margin-bottom:15px;
}
.p11 {
  margin-bottom:28px;
}
.text3 {
  float:left;
  margin-right:6px;
  color:#4a4a4a;
  font-size:14px;
  display:block;
}
.page2-box1 p {
  padding-bottom:14px;
}
.list2 a {
  color:#4a4a4a;
  transition: all 0.4s ease 0s;
  font-size:14px;
  text-transform:uppercase;
}
.list2 a:hover {
  color:#2ba2e7;
  text-decoration:none;
}
.list2 li {
  background: url("../images/marker2.png") no-repeat scroll 0 5px transparent;
  display: block;
  line-height: 17px;
  padding-bottom: 13px;
  padding-left: 17px;
}
.p12 {
  padding-bottom:28px;
}
.link2 {
  color:#2ba2e7;
  transition: all 0.4s ease 0s;
  font-size:14px;
  text-transform:uppercase;
}
.link2:hover {
  color:#4d4d4d;
  text-decoration:none;
}
.page2-img2 {
  margin-bottom:16px;
}
.p13 {
  margin-bottom:5px;
}
.p14 {
  padding-top:4px;
}
.page2-im3 {
  float: left;
  margin-right: 7px;
  margin-top: 3px;
}
.page2-box2 {
  overflow:hidden;
  border-bottom:1px solid #e3e3e3;
  margin-bottom:16px;
}
.p15 {
  margin-bottom:26px;
}
.p16 {
  margin-bottom:6px;
}
.page2-box2 p {
  padding-bottom:16px;
}
.last5 {
  border:none !important;
  margin-bottom:0 !important;
}
.p17 {
  padding-bottom:25px;
}
.page2-img4 {
  float:right;padding-top:5px;
}
.text4 {
  float: right;
  font-size: 11px;
  margin-top: -13px;
  position: relative;
}
.p18 {margin-top:3px;}
/***** Page 3 *****/
.page3-img1 {
  float: left;
  margin: 3px 20px 10px 0;
}
.page3-img2 {
  float: left;
  margin: 3px 20px 6px 0;
}
.p19 {
  margin-bottom:47px;
}
/***** Page 4 *****/
.p20 {
  margin-bottom:22px;
}
.time2 {
  background: url("../images/marker5.gif") no-repeat scroll 0 0 transparent;
  color: #FEFFFF;
  float: left;
  font-family: Arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 42px;
  line-height: 16px;
  margin-right: 20px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 56px;
}
.time2 span {
  display:block;
}
.p21 {
  margin-bottom:29px;
}
.p22 {
  padding-top:8px;
  padding-right:30px;
}
.link3 {
  color:#878b91;
  transition: all 0.4s ease 0s;
}
.link3:hover {
  color:#2ba2e7;
  text-decoration:none;
}
.p25 {
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 30px;
}
.inner1 {
  margin-bottom:25px;
}
.page5-img1 {
  margin-top:4px;
}
.page5-box1 p {
  padding-right:30px;
}
.p23 {
  margin-top:10px;
}
.p24 {
  margin-bottom:36px;
}
.page6-img1 {
  margin-bottom:25px;
}
/***** Page 5 *****/
.dl1 dt {width:170px;margin-bottom: 18px;}
.dl1 span {float:left; width:93px;}
.dl1 dd { line-height:18px;}
.dl1 dd a {color:#878b91;transition: all 0.4s ease 0s;}
.dl1 dd a:hover {color:#2ba2e7; text-decoration:none;}
/******************** Footer ******************/
footer {
  width:100%;
  padding:0 0 30px;
}
.foot-page1 {
  width:940px;
  font-size:12px;
  margin:0 auto;
  padding-top:17px;
  border-top:1px solid #d8d8d8;
  text-align: center;
}
.foot-page1 a {
  color:#818181;
  transition: all 0.4s ease 0s;
}
.foot-page1 a:hover {
  color:#2ba2e7;
  text-decoration:none;
  text-align: center;
}
.foot-page1 span {
  color: #4A4A4A;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 20px;
  margin-top:-1px;
  padding-right: 6px;
  text-transform: uppercase;
}
.foot-page1 span strong {
  color:#31a9e9;
  text-transform:none;
}
.sf-menu>li>a .menu-arrow{
  display:block;
  position: absolute;
  width:5px;
  height:3px;
  left: 50%;
  bottom: 10px;
  text-indent:-100%;
  font-size:0;
  line-height:0;
  background: url('../images/menu_arrow.png') 0 -7px no-repeat;
  vertical-align: middle;
}
.p0{
  padding:0;
  font-weight: bold;
}
.btn{
  display: inline-block;
  padding: 11px 19px;
  text-decoration:none;
  margin-bottom: 0;
  font-size: 17.5px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover{
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn.blue{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn.blue:hover{
  color: #ffffff;
  background-color: #0044cc;
}
.head-box1 .btn{
  margin-top:30px;
  margin-right:10px;
  float:right;
}

/************ Cart container **********/
#overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
#cartCounter {
  background: url('../images/icon_shopcart_white.png') no-repeat 20% 50%;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  padding: 7px 5px 6px 33px;
}
#cartCounter:hover {
  cursor: pointer;
}
#cartReviewContainer #cart {
  background-color: #F3F3F3;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  -webkit-box-shadow: 0 0 10px;
  -moz-box-shadow: 0 0 10px;
  -ms-box-shadow: 0 0 10px;
  -o-box-shadow: 0 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  z-index: 99;
}
#cartReviewContainer #cart .cartRow {
  border-bottom: 2px solid #858585;
  float: left;
  margin: 1.5% 2.5%;
  width: 95%;
}
#cartReviewContainer #cart .cartProductImage, #cartReviewContainer #cart .cartProductInfo, #cartReviewContainer #cart .cartProductQty, #cartReviewContainer #cart .cartProductPrice, #cartReviewContainer #cart .cartProductTax {
  color: #000;
  float: left;
  width: 100%;
}
#cartReviewContainer #cart .cartProductImage img {
  display: block;
  float: none;
  height: auto;
  margin: 0 auto;
  width: 65%;
}
#cartReviewContainer #cart .cartProductInfo, #cartReviewContainer #cart .cartCheckoutBtn {
  float: left;
  text-align: center;
  width: 100%;
}
#cartReviewContainer #cart .cartProductName, #cartReviewContainer #cart .cartProductId {
  color: #B22222;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
#cartReviewContainer #cart .cartProductQty, #cartReviewContainer #cart .cartProductTax {
  font-size: 14px;
  text-align: center;
}
#cartReviewContainer #cart .cartProductQty input {
  display: none;
}
#cartReviewContainer #cart .cartProductPrice {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
#cartReviewContainer #cart .cartProductBtns {
  display: none;
}
#cartReviewContainer #cart .cartCheckoutBtn button {
  border-style: solid !important;
  border-width: 0px !important;
  border-radius: 4px 4px 4px 4px;
  padding: 5px 10px 5px 10px;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #669E00;
  color: #FFF;
  border: 1px solid #669E00;
  background: #8FC400;
  background: -moz-linear-gradient(top, rgba(143, 196, 0, 1) 0%, rgba(107, 165, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8FC400), color-stop(100%,#6BA500));
  background: -webkit-linear-gradient(top, #8FC400 0%,#6BA500 100%);
  background: -o-linear-gradient(top, rgba(143, 196, 0, 1) 0%,rgba(107, 165, 0, 1) 100%);
  background: linear-gradient(top, rgba(143, 196, 0, 1) 0%,rgba(107, 165, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#6ba500',GradientType=0);
}
#cartReviewContainer #cart .cartCheckoutBtn button:hover {
  cursor: pointer;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #669E00;
  text-shadow: 0 1px 0 #669E00;
  border: 1px solid #669E00;
  background: #C6E278;
  background: -moz-linear-gradient(top, rgba(198, 226, 120, 1) 0%, rgba(167, 211, 44, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C6E278), color-stop(100%,#A7D32C));
  background: -webkit-linear-gradient(top, #C6E278 0%,#A7D32C 100%);
  background: -o-linear-gradient(top, rgba(198, 226, 120, 1) 0%,rgba(167, 211, 44, 1) 100%);
  background: linear-gradient(top, rgba(198, 226, 120, 1) 0%,rgba(167, 211, 44, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e278', endColorstr='#a7d32c',GradientType=0);
}
#cartCounterContainer {
  position: absolute;
  right: 10px;
  top: 15px;
}
#basket {
  background-color: #F3F3F3;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  -webkit-box-shadow: 0 0 10px;
  -moz-box-shadow: 0 0 10px;
  -ms-box-shadow: 0 0 10px;
  -o-box-shadow: 0 0 10px;
  left: 35%;
  margin-top: 10px;
  position: absolute;
  width: 300px;
  z-index: 10;
}
#basket h2 {
  float: left;
  margin: 10px 0;
  width: 100%;
}
#productInfoContainer, #productInfo, #productPrice, #productInfo > div {
  float: left;
  text-align: center;
  width: 100%;
}
#productImage img {
  height: auto;
  width: 60%;
}
#productName, #productDesc {
  color: #B22222;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
#productPrice {
  font-size: 14px;
}
#checkoutBasket {
  float: left;
  margin: 8px 0;
  text-align: center;
  width: 100%;
}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
  body{min-width:768px;}
  .main, #content{width: 768px;}
  .foot-page1{width: 748px;}
  .sf-menu a{}
  #search1 input{width: 170px;}
  .flexslider, .flexslider .slides > li{height: auto;}
  .flexslider{padding-bottom: 30px;}
  .banner{display: none;}
  .flex-control-thumbs{text-align: center;width: 100%;bottom: 40px;}
  .page1-img1 img{width: 100%;}
  .soc-links li{margin-right: 2px;}
  .img-bot{display: block;}
  #form1 input, #form1 textarea{width: 100%;-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;height: auto;display: block;}
  .page6-img1 iframe{width: 100%;}
  #form1 textarea{height: 200px;}
  #form1 label{display: block;}
  #form1 label.message{width: auto;height: auto;padding-bottom: 20px;}
}
@media only screen and (max-width: 767px) {
  body{min-width:420px;}
  .main, #content, .foot-page1{width: 420px;}
  header h1, .head-list{float: none;}
  header h1{padding-left: 0;}
  header h1 a{margin: 0 auto;}
  .head-list{padding-top: 20px;text-align: center;margin: 0;overflow: hidden;}
  .head-list li{float: none;display: inline-block;}
  #user-info{border-radius:5px;border-top:solid 1px #acd8ea;clear:both;margin:0 auto 20px;float:left;margin-top:40px;text-align:left;width:390px;}
  #language-picker{position:relative;clear:both;margin:0 auto;top:0;left:0;text-align:center}
  nav{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float:none;
    font:12px/15px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#fff;
    padding:20px 15px;
  }
  nav:before{
    content:'Menu:';
    display:block;
    margin-bottom:5px;
  }
  .sf-menu{display:none;}
  nav select{
    font:12px/15px Arial, Helvetica, sans-serif;
    color:#464646;
    width:100%;
    outline: none;
    padding: 5px;
    border:2px solid #fff;
  }
  #search1{float: none;margin: 0 15px 20px 15px;overflow: hidden;}
  #search1 input{width: 353px;}
  .flex-control-thumbs{bottom: 5px;}
  .flex-control-thumbs li{width: 73px;margin: 0 10px;}
  .flex-control-thumbs img, .page2-img1 img, .page2-img2 img, .img-bot img{width: 100%;}
  #slide{padding-left: 15px;padding-right: 15px;padding-top: 15px;}
  .flexslider{padding-bottom: 15px;}
  .wrapper{width: auto;padding: 0 15px;}
  .border3:before{display: none;}
  .border3{padding-top: 15px;margin-top: -20px;border-top: 1px solid #E2E3E4;}
  aside .wrapper, .wrapper .wrapper{padding-left: 0;padding-right: 0;}
  .head-box2{height: 134px;}
  .button-group a#btn-velumina{margin:0;margin-top:10px;}
  .well{width:400px;margin:10px auto}
  .head-box1 .btn {float:none;margin:0 auto;display:block;clear:both;}
  .chart-block.one,.velumina-chart .chart-block.one{
    top: 0;
    left:0;
  }
  .chart-block.two,.velumina-chart .chart-block.two{
    top:0;
    left:0;
  }
  .chart-block.three,.velumina-chart .chart-block.three{
    top:0;
    left:0;
  }
  .chart-block.four,.velumina-chart .chart-block.four{
    top:0;
    left:0;
  }
  .chart-block.five,.velumina-chart .chart-block.five{
    top:0;
    left:0;
  }
  .chart-block.six,.velumina-chart .chart-block.six{
    top:0;
    left:0;
  }
  .chart-block.seven,.velumina-chart .chart-block.seven{
    left:0;
  }

}
@media only screen and (max-width: 479px) {
  body{min-width:300px;}
  .main, #content, .foot-page1{width: 300px;}
  #user-info{width:270px}
  #search1 input{width: 233px;}
  .flex-control-thumbs{display: none;}
  .page5-box1 div{float: none;}
  .well{width:270px;}
}